---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/product_items
    body:
      encoding: UTF-8
      string: product_id=26&quantity=1
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"f748f0b6f6cbc0f1cc4eb85d8739a8ef"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1504627836'
    body:
      encoding: UTF-8
      string: '{"product_item":{"id":135,"status":"active","cycles":null,"quantity":1,"created_at":"2017-09-05T13:09:37.548-03:00","updated_at":"2017-09-05T13:09:37.548-03:00","product":{"id":26,"name":"t-shirt","code":null},"pricing_schema":{"id":225,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:42:47.000-03:00"},"discounts":[]}}'
  recorded_at: Tue, 05 Sep 2017 16:09:37 GMT
recorded_with: VCR 3.0.3
