---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/product_items/131
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"37fb33a17e235b113efe325740cec80f"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1504627836'
    body:
      encoding: UTF-8
      string: '{"product_item":{"id":131,"status":"deleted","cycles":null,"quantity":1,"created_at":"2017-09-05T11:33:34.000-03:00","updated_at":"2017-09-05T13:09:38.729-03:00","product":{"id":26,"name":"t-shirt","code":null},"pricing_schema":{"id":225,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:42:47.000-03:00"},"discounts":[]}}'
  recorded_at: Tue, 05 Sep 2017 16:09:38 GMT
recorded_with: VCR 3.0.3
