---
http_interactions:
- request:
    method: put
    uri: https://sandbox-app.vindi.com.br/api/v1/product_items/130
    body:
      encoding: UTF-8
      string: cycles=2
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e8b9e7b6a02c337bc2fc2c4dcdc64f3e"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '115'
      Rate-Limit-Reset:
      - '1504628386'
    body:
      encoding: UTF-8
      string: '{"product_item":{"id":130,"status":"active","cycles":2,"quantity":1,"created_at":"2017-09-05T11:31:54.000-03:00","updated_at":"2017-09-05T13:19:16.000-03:00","product":{"id":26,"name":"t-shirt","code":null},"pricing_schema":{"id":225,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:42:47.000-03:00"},"discounts":[]}}'
  recorded_at: Tue, 05 Sep 2017 16:19:39 GMT
recorded_with: VCR 3.0.3
