---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/invoices
    body:
      encoding: UTF-8
      string: amount=1&bill_id=662392
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ee08a8d095d8caedcf283373b2bc6573"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1556228122'
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":2317,"amount":"1.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"accrued_on":"2019-04-25","scheduled_at":null,"created_at":"2019-04-25T18:34:23.972-03:00","updated_at":"2019-04-25T18:34:23.972-03:00","bill":{"id":662392,"code":null},"customer":{"id":117101,"name":"Cliente
        Teste","email":"","code":null}}}'
  recorded_at: Thu, 25 Apr 2019 21:34:24 GMT
recorded_with: VCR 3.0.3
