---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/invoices/108
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"504ecc0328bd5fa528e3ac6d57d370f0"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1504887118'
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":108,"amount":"1.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"scheduled_at":null,"created_at":"2017-09-08T11:55:55.000-03:00","updated_at":"2017-09-08T11:55:55.000-03:00","bill":{"id":71,"code":null},"customer":{"id":20,"name":"Wagner
        Narde","email":"wagner.narde@vindi.com.br","code":null}}}'
  recorded_at: Fri, 08 Sep 2017 16:10:59 GMT
recorded_with: VCR 3.0.3
