---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"adf9a9b1dabfc009d50d7d34d8bd496f"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504887118'
      Total:
      - '8'
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":100,"amount":"150.0","status":"canceled","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"scheduled_at":null,"created_at":"2017-09-05T17:28:16.000-03:00","updated_at":"2017-09-05T17:36:09.000-03:00","bill":{"id":479,"code":null},"customer":{"id":396,"name":"Jane
        Doe","email":"","code":null}},{"id":101,"amount":"250.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"scheduled_at":null,"created_at":"2017-09-05T17:37:43.000-03:00","updated_at":"2017-09-05T17:37:43.000-03:00","bill":{"id":481,"code":null},"customer":{"id":396,"name":"Jane
        Doe","email":"","code":null}},{"id":102,"amount":"100.0","status":"processing","integration_invoice_id":null,"integration_re[...]
