---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"4c6c445a2918d0f0e3851abfdb45b8c0"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1556227938'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":2316,"amount":"1.0","status":"failure","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"accrued_on":"2019-04-25","scheduled_at":null,"created_at":"2019-04-25T18:17:22.000-03:00","updated_at":"2019-04-25T18:17:23.000-03:00","bill":{"id":664689,"code":null},"customer":{"id":117101,"name":"Cliente
        Teste","email":"","code":null}}]}'
  recorded_at: Thu, 25 Apr 2019 21:32:08 GMT
recorded_with: VCR 3.0.3
