---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/invoices/108/retry
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"invoice":{"id":108,"amount":"1.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"scheduled_at":null,"created_at":"2017-09-08T13:11:00.253-03:00","updated_at":"2017-09-08T13:11:00.253-03:00","bill":{"id":71,"code":null},"customer":{"id":20,"name":"Wagner
        Narde","email":"wagner.narde@vindi.com.br","code":null}}}'
  recorded_at: Mon, 26 Oct 2020 13:53:22 GMT
recorded_with: VCR 6.0.0
