---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/movements
    body:
      encoding: UTF-8
      string: amount=1&bill_id=509&movement_type=credit
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"9a1aff3f9e68ab7ed2f92cd269ef1420"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504890941'
    body:
      encoding: UTF-8
      string: '{"movement":{"id":912,"amount":"1.0","movement_type":"credit","description":null,"bill":{"id":509,"code":null}}}'
  recorded_at: Fri, 08 Sep 2017 17:14:41 GMT
recorded_with: VCR 3.0.3
