---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/notifications
    body:
      encoding: UTF-8
      string: content=Hey%2C+Hoops%21&name=Hoops&notification_type=email&status=active&subject=Hoops&trigger_day=5&trigger_type=charge_due_at
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"da336d18f3646bf1f9370133bfcef4c8"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1505154756'
    body:
      encoding: UTF-8
      string: '{"notification":{"id":47,"status":"active","notification_type":"email","name":"Hoops","subject":"Hoops","content":"Hey,
        Hoops!","trigger_type":"charge_due_at","trigger_day":5,"bcc":null,"created_at":"2017-09-11T15:31:37.842-03:00","updated_at":"2017-09-11T15:31:37.842-03:00"}}'
  recorded_at: Mon, 11 Sep 2017 18:31:37 GMT
recorded_with: VCR 3.0.3
