---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/notifications/48/notification_items
    body:
      encoding: UTF-8
      string: item_id=22&item_type=Plan
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"de09d2b940f6889e8d5a6eaa003372bb"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505164473'
    body:
      encoding: UTF-8
      string: '{"notification_item":{"id":8,"item_type":"Plan","item_id":22}}'
  recorded_at: Mon, 11 Sep 2017 21:13:33 GMT
recorded_with: VCR 3.0.3
