---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/notifications/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"61d95826aa7198c4b0426670d6f634a7"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505155979'
    body:
      encoding: UTF-8
      string: '{"notification":{"id":47,"status":"deleted","notification_type":"email","name":"Hoops","subject":"Hoops","content":"Hey,
        Hoops!","trigger_type":"charge_due_at","trigger_day":5,"bcc":null,"created_at":"2017-09-11T15:31:37.000-03:00","updated_at":"2017-09-11T15:51:59.313-03:00"}}'
  recorded_at: Mon, 11 Sep 2017 18:51:59 GMT
recorded_with: VCR 3.0.3
