---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/notifications/48/notification_items/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a7df89c5c5714c3b6723992b13e3c0c1"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1505156577'
    body:
      encoding: UTF-8
      string: '{"notification_item":{"id":7,"item_type":"Plan","item_id":22}}'
  recorded_at: Mon, 11 Sep 2017 19:02:10 GMT
recorded_with: VCR 3.0.3
