---
http_interactions:
- request:
    method: put
    uri: https://staging-app.vindi.com.br/api/v1/notifications/41
    body:
      encoding: UTF-8
      string: trigger_day=3
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ff34f5cc8243d4e3438a39dcd9c69f83"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1505154756'
    body:
      encoding: UTF-8
      string: '{"notification":{"id":41,"status":"active","notification_type":"email","name":"Hoops","subject":"Hoops","content":"Hey,
        Hoops!","trigger_type":"charge_created_at","trigger_day":3,"bcc":null,"created_at":"2017-09-11T14:00:34.000-03:00","updated_at":"2017-09-11T15:29:00.000-03:00"}}'
  recorded_at: Mon, 11 Sep 2017 18:31:38 GMT
recorded_with: VCR 3.0.3
