---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/bill_items/907549
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"cce1a754abb6c6dbed2ad557934114d0"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1556226304'
    body:
      encoding: UTF-8
      string: '{"bill_item":{"id":907549,"amount":"50.0","quantity":1,"pricing_range_id":null,"description":null,"pricing_schema":{"id":35296,"short_format":"R$
        50,00 / unidade","price":"50.0","minimum_price":null,"schema_type":"per_unit","pricing_ranges":[],"created_at":"2018-06-18T18:10:53.000-03:00"},"product":{"id":9267,"name":"Frete
        (Taxa - Frete)","code":"taxa-frete"},"product_item":{"id":49543,"product":{"id":9267,"name":"Frete
        (Taxa - Frete)","code":"taxa-frete"}},"discount":null,"usages":[{"id":844095,"quantity":1,"description":null,"created_at":"2019-04-25T18:04:10.000-03:00"}]}}'
  recorded_at: Thu, 25 Apr 2019 21:04:48 GMT
recorded_with: VCR 3.0.3
