---
http_interactions:
- request:
    method: get
    uri: https://staging-app.vindi.com.br/api/v1/bill_items/133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d044ff254ec9b8557b29b44ff42fa1c3"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504701905'
    body:
      encoding: UTF-8
      string: '{"bill_item":{"id":133,"amount":"12.0","quantity":null,"pricing_range_id":null,"description":"","pricing_schema":null,"product":{"id":26,"name":"t-shirt","code":null},"product_item":null,"discount":null,"usages":[]}}'
  recorded_at: Wed, 06 Sep 2017 12:44:05 GMT
recorded_with: VCR 3.0.3
