---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/products
    body:
      encoding: UTF-8
      string: name=tshirt&pricing_schema%5Bprice%5D=100
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"f68d805d203dfc4275ae76e95367dd8c"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '107'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"product":{"id":66,"name":"tshirt","code":null,"unit":null,"status":"active","description":null,"invoice":"always","created_at":"2017-09-01T19:42:46.000-03:00","updated_at":"2017-09-01T19:42:46.000-03:00","pricing_schema":{"id":224,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:42:46.000-03:00"},"metadata":{}}}'
  recorded_at: Fri, 01 Sep 2017 22:42:46 GMT
recorded_with: VCR 3.0.3
