---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"859f3ab2697533ce8f000e3d3381adf7"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '109'
      Rate-Limit-Reset:
      - '1504305818'
      Total:
      - '19'
    body:
      encoding: UTF-8
      string: '{"products":[{"id":26,"name":"t-shirt","code":null,"unit":"","status":"active","description":"","invoice":"always","created_at":"2017-07-19T21:09:39.000-03:00","updated_at":"2017-09-01T19:33:19.000-03:00","pricing_schema":{"id":223,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:33:19.000-03:00"},"metadata":{}},{"id":48,"name":"t-shirt
        one","code":null,"unit":null,"status":"active","description":null,"invoice":"always","created_at":"2017-09-01T18:54:32.000-03:00","updated_at":"2017-09-01T18:54:32.000-03:00","pricing_schema":{"id":203,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T18:54:32.000-03:00"},"metadata":{}},{"id":49,"name":"t-shirt","code":null,"unit":null,"status":"active","description":null,[...]
