---
http_interactions:
- request:
    method: put
    uri: https://staging-app.vindi.com.br/api/v1/products/26
    body:
      encoding: UTF-8
      string: name=t-shirt&pricing_schema%5Bprice%5D=100
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"b353c12f1fe3b9cf45ef9266669848ff"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '106'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"product":{"id":26,"name":"t-shirt","code":null,"unit":"","status":"active","description":"","invoice":"always","created_at":"2017-07-19T21:09:39.000-03:00","updated_at":"2017-09-01T19:42:47.000-03:00","pricing_schema":{"id":225,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:42:47.000-03:00"},"metadata":{}}}'
  recorded_at: Fri, 01 Sep 2017 22:42:47 GMT
recorded_with: VCR 3.0.3
