---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"7307d5b7b94e8fecda9bb39f069579ca"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504630919'
      Total:
      - '13'
    body:
      encoding: UTF-8
      string: '{"periods":[{"id":360,"billing_at":"2017-09-27T00:00:00.000-03:00","cycle":1,"start_at":"2017-09-01T00:00:00.000-03:00","end_at":"2017-09-30T23:59:59.000-03:00","duration":2591999,"subscription":{"id":61,"code":null,"plan":{"id":15,"name":"default
        plan","code":null},"customer":{"id":21,"name":"larissa amancio","email":"lars@live.fr","code":"codigo
        externo lariiie"}},"created_at":"2017-09-01T14:59:54.000-03:00","updated_at":"2017-09-05T13:45:52.000-03:00"},{"id":363,"billing_at":"2017-10-01T00:00:00.000-03:00","cycle":2,"start_at":"2017-10-01T00:00:00.000-03:00","end_at":"2017-10-31T23:59:59.000-02:00","duration":2674799,"subscription":{"id":61,"code":null,"plan":{"id":15,"name":"default
        plan","code":null},"customer":{"id":21,"name":"larissa amancio","email":"lars@live.fr","code":"codigo
        externo lariiie"}},"created_at":"2017-09-05T09:47:51.000-03:00","updated_at":"2017-09-05T09:47:51.000-03:00"},{"i[...]
