---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/customers
    body:
      encoding: UTF-8
      string: name=Jane+Doe
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"b69aa55da0002ef8c5edb9a7df0de241"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1556227491'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":152374,"name":"Jane Doe","email":null,"registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2019-04-25T18:24:50.619-03:00","updated_at":"2019-04-25T18:24:50.619-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Thu, 25 Apr 2019 21:24:50 GMT
recorded_with: VCR 3.0.3
