---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/customers
    body:
      encoding: UTF-8
      string: name=Jane+Doe
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"13dab6ddd345bbaf71d3134d7e91925d"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":383,"name":"Jane Doe","email":null,"registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-09-01T19:42:40.815-03:00","updated_at":"2017-09-01T19:42:40.815-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Fri, 01 Sep 2017 22:42:40 GMT
recorded_with: VCR 3.0.3
