---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/117101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"dd814b7a1baad7a436c4b2abd69cbe10"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556227636'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":117101,"name":"Cliente Teste","email":"","registry_code":"","code":null,"notes":"","status":"active","created_at":"2019-01-28T18:47:11.000-02:00","updated_at":"2019-01-28T18:48:04.000-02:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":"BR"},"phones":[]}}'
  recorded_at: Thu, 25 Apr 2019 21:26:16 GMT
recorded_with: VCR 3.0.3
