---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"9fce2068f4984519bd04ba72813c4261"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":15,"name":"My plan","email":"yuiouyty@gmail.com","registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-07-07T18:48:20.000-03:00","updated_at":"2017-08-28T13:56:55.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Fri, 01 Sep 2017 22:42:40 GMT
recorded_with: VCR 3.0.3
