---
http_interactions:
- request:
    method: delete
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"1607ae6ce7e08fa068ddc2a12cfac3f5"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '114'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":15,"name":"Johana Doe","email":"yuiouyty@gmail.com","registry_code":null,"code":null,"notes":null,"status":"archived","created_at":"2017-07-07T18:48:20.000-03:00","updated_at":"2017-09-01T19:42:42.052-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Fri, 01 Sep 2017 22:42:42 GMT
recorded_with: VCR 3.0.3
