---
http_interactions:
- request:
    method: delete
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/152374
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"cc918350477a8b0546036e0575a08456"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1556227636'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":152374,"name":"Johana Doe","email":null,"registry_code":null,"code":null,"notes":null,"status":"archived","created_at":"2019-04-25T18:24:50.000-03:00","updated_at":"2019-04-25T18:26:17.466-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Thu, 25 Apr 2019 21:26:17 GMT
recorded_with: VCR 3.0.3
