---
http_interactions:
- request:
    method: put
    uri: https://sandbox-app.vindi.com.br/api/v1/customers/15
    body:
      encoding: UTF-8
      string: name=Johana+Doe
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"cd3ab55c0a7cb3a5a76515cb13dbc32d"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '115'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"customer":{"id":15,"name":"Johana Doe","email":"yuiouyty@gmail.com","registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-07-07T18:48:20.000-03:00","updated_at":"2017-09-01T19:42:41.454-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'
  recorded_at: Fri, 01 Sep 2017 22:42:41 GMT
recorded_with: VCR 3.0.3
