---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/issues/112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"d0ef156d81cb5abd617fdb2361a0743f"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1556228194'
    body:
      encoding: UTF-8
      string: '{"issue":{"id":112,"issue_type":"charge_overpay","status":"open","item_type":"Charge","item_id":635018,"data":{"expected_amount":"150.0","transaction_amount":"1500.0"},"created_at":"2019-04-25T18:35:16.000-03:00","updated_at":"2019-04-25T18:35:16.000-03:00","customer":{"id":117101,"name":"Cliente
        Teste","email":"","code":null}}}'
  recorded_at: Thu, 25 Apr 2019 21:35:56 GMT
recorded_with: VCR 3.0.3
