---
http_interactions:
- request:
    method: get
    uri: https://staging-app.vindi.com.br/api/v1/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"79096bd8a9eafdf56d772191274fb4cf"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505140441'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"issues":[{"id":2,"issue_type":"charge_underpay","status":"open","item_type":"Charge","item_id":475,"data":{"expected_amount":"200.0","transaction_amount":"3.0"},"created_at":"2017-09-08T09:36:50.000-03:00","updated_at":"2017-09-08T09:36:50.000-03:00","customer":{"id":396,"name":"Jane
        Doe","email":"","code":null}}]}'
  recorded_at: Mon, 11 Sep 2017 14:33:02 GMT
recorded_with: VCR 3.0.3
