---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/plans
    body:
      encoding: UTF-8
      string: billing_trigger_day=3&billing_trigger_type=beginning_of_period&interval=months&interval_count=1&name=awesome+plan
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a916ea10691231a0d4501f3c8ae3a00b"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '111'
      Rate-Limit-Reset:
      - '1504305817'
    body:
      encoding: UTF-8
      string: '{"plan":{"id":22,"name":"awesome plan","interval":"months","interval_count":1,"billing_trigger_type":"beginning_of_period","billing_trigger_day":3,"billing_cycles":null,"code":null,"description":null,"status":"active","installments":1,"invoice_split":false,"interval_name":"Mensal","created_at":"2017-09-01T19:42:43.000-03:00","updated_at":"2017-09-01T19:42:43.000-03:00","plan_items":[],"metadata":{}}}'
  recorded_at: Fri, 01 Sep 2017 22:42:44 GMT
recorded_with: VCR 3.0.3
