---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/plans/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"3fc913d799258f719fc20f90be48bc95"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '112'
      Rate-Limit-Reset:
      - '1504305818'
    body:
      encoding: UTF-8
      string: '{"plan":{"id":15,"name":"default plan","interval":"months","interval_count":1,"billing_trigger_type":"beginning_of_period","billing_trigger_day":0,"billing_cycles":null,"code":null,"description":"","status":"active","installments":1,"invoice_split":false,"interval_name":"Mensal","created_at":"2017-08-24T11:49:33.000-03:00","updated_at":"2017-09-01T19:33:17.000-03:00","plan_items":[{"id":9,"product":{"id":26,"name":"t-shirt","code":null,"unit":"","status":"active","description":"","invoice":"always","created_at":"2017-07-19T21:09:39.000-03:00","updated_at":"2017-09-01T19:33:19.000-03:00","pricing_schema":{"id":223,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-09-01T19:33:19.000-03:00"},"metadata":{}},"cycles":3,"created_at":"2017-08-24T11:49:33.000-03:00","updated_at":"2017-08-24T11:49:33.000-03:00"}],"metadata":{}}}'
  recorded_at: Fri, 01 Sep 2017 22:42:43 GMT
recorded_with: VCR 3.0.3
