---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/usages
    body:
      encoding: UTF-8
      string: period_id=382&product_item_id=141&quantity=3
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"3ce2365938f7edaec527597dc38ff8d0"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504881443'
    body:
      encoding: UTF-8
      string: '{"usage":{"id":653,"quantity":3,"description":null,"created_at":"2017-09-08T11:36:23.358-03:00","metadata":{},"product_item":{"id":141,"product":{"id":48,"name":"t-shirt
        one","code":null}},"bill":null}}'
  recorded_at: Fri, 08 Sep 2017 14:36:23 GMT
recorded_with: VCR 3.0.3
