---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/usages/652
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"64a13989ed7af94d979be6bc288cbf5b"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1504881442'
    body:
      encoding: UTF-8
      string: '{"usage":{"id":652,"quantity":3,"description":null,"created_at":"2017-09-08T11:30:30.000-03:00","metadata":{},"product_item":{"id":141,"product":{"id":48,"name":"t-shirt
        one","code":null}},"bill":null}}'
  recorded_at: Fri, 08 Sep 2017 14:36:24 GMT
recorded_with: VCR 3.0.3
