---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users
    body:
      encoding: UTF-8
      string: email=janedoe%40teste.com&name=Jane+Doe&role_id=10
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"cd3f7f3996569a57b0da3d00bb7d25df"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505226407'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":40,"status":"active","last_sign_in_at":null,"user":{"id":29,"name":"Jane
        Doe","email":"janedoe@teste.com","status":"invitation_sent","created_at":"2017-09-12T11:25:47.000-03:00"},"role":{"id":10,"name":"Observador","base_role":"ReadOnly"}}}'
  recorded_at: Tue, 12 Sep 2017 14:25:47 GMT
recorded_with: VCR 3.0.3
