---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users
    body:
      encoding: UTF-8
      string: email=janedoe%40teste.com&name=Jane+Doe&role_id=62
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"519ec4c21be6b4386f90c8cc4667b9f2"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556229700'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":2302,"status":"active","last_sign_in_at":null,"user":{"id":2030,"name":"Jane
        Doe","email":"janedoe@teste.com","status":"invitation_sent","created_at":"2019-04-25T18:58:16.000-03:00"},"role":{"id":62,"name":"Administrador","base_role":"Administrator"}}}'
  recorded_at: Thu, 25 Apr 2019 22:00:40 GMT
recorded_with: VCR 3.0.3
