---
http_interactions:
- request:
    method: delete
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"45c4a3ab95da0f590fbdc620cd18cd37"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1556229957'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":17,"status":"deleted","last_sign_in_at":"2018-01-24T12:19:37.000-02:00","user":{"id":11,"name":"Jane Doe","email":"juninholtl@gmail.com","status":"active","created_at":"2017-09-05T15:51:43.000-03:00"},"role":null}}'
  recorded_at: Thu, 25 Apr 2019 22:05:36 GMT
recorded_with: VCR 3.0.3
