---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/merchant_users/39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"bb4474c926b046ca09a7ff23b1396342"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '116'
      Rate-Limit-Reset:
      - '1505225967'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":39,"status":"deleted","last_sign_in_at":null,"user":{"id":28,"name":"Joana
        Doe","email":"joanadoe@teste.com.br","status":"invitation_sent","created_at":"2017-09-12T11:17:16.000-03:00"},"role":null}}'
  recorded_at: Tue, 12 Sep 2017 14:18:57 GMT
recorded_with: VCR 3.0.3
