---
http_interactions:
- request:
    method: get
    uri: https://staging-app.vindi.com.br/api/v1/merchant_users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"1c1c73b761f762f6322bc8992e935c16"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505225730'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"merchant_users":[{"id":38,"status":"active","last_sign_in_at":null,"user":{"id":27,"name":"Jane
        Doe","email":"testejane@teste.com","status":"invitation_sent","created_at":"2017-09-11T17:23:55.000-03:00"},"role":{"id":10,"name":"Observador","base_role":"ReadOnly"}}]}'
  recorded_at: Tue, 12 Sep 2017 14:14:30 GMT
recorded_with: VCR 3.0.3
