---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"fffada0601f24e0074ba804e6fb4b533"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556229554'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"merchant_users":[{"id":17,"status":"active","last_sign_in_at":"2018-01-24T12:19:37.000-02:00","user":{"id":11,"name":"Tester","email":"juninholtl@gmail.com","status":"active","created_at":"2017-09-05T15:51:43.000-03:00"},"role":{"id":62,"name":"Administrador","base_role":"Administrator"}}]}'
  recorded_at: Thu, 25 Apr 2019 21:58:14 GMT
recorded_with: VCR 3.0.3
