---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users/38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"748120185127f2efd2d79b0302dceec9"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1505225730'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":38,"status":"active","last_sign_in_at":null,"user":{"id":27,"name":"Jane
        Doe","email":"testejane@teste.com","status":"invitation_sent","created_at":"2017-09-11T17:23:55.000-03:00"},"role":{"id":10,"name":"Observador","base_role":"ReadOnly"}}}'
  recorded_at: Tue, 12 Sep 2017 14:15:04 GMT
recorded_with: VCR 3.0.3
