---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users/2302/reactivate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556230056'
    body:
      encoding: ASCII-8BIT
      string: '{"merchant_user":{"id":2302,"status":"active","last_sign_in_at":null,"user":{"id":2030,"name":"Jane
        Doe","email":"janedoe@teste.com","status":"invitation_sent","created_at":"2019-04-25T18:58:16.000-03:00"},"role":{"id":62,"name":"Administrador","base_role":"Administrator"}}}'
  recorded_at: Thu, 25 Apr 2019 22:06:36 GMT
recorded_with: VCR 3.0.3
