---
http_interactions:
- request:
    method: put
    uri: https://sandbox-app.vindi.com.br/api/v1/merchant_users/17
    body:
      encoding: UTF-8
      string: role_id=62
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"7b2cf3ea59514b0e2b55a85b8e1f5caf"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1556229956'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":17,"status":"active","last_sign_in_at":"2018-01-24T12:19:37.000-02:00","user":{"id":11,"name":"Tester","email":"juninholtl@gmail.com","status":"active","created_at":"2017-09-05T15:51:43.000-03:00"},"role":{"id":62,"name":"Administrador","base_role":"Administrator"}}}'
  recorded_at: Thu, 25 Apr 2019 22:05:36 GMT
recorded_with: VCR 3.0.3
