---
http_interactions:
- request:
    method: put
    uri: https://staging-app.vindi.com.br/api/v1/merchant_users/39
    body:
      encoding: UTF-8
      string: role_id=7
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"0483242daec7a2c2c09cf62f58bff31e"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1505226292'
    body:
      encoding: UTF-8
      string: '{"merchant_user":{"id":39,"status":"active","last_sign_in_at":null,"user":{"id":28,"name":"Joana
        Doe","email":"joanadoe@teste.com.br","status":"invitation_sent","created_at":"2017-09-12T11:17:16.000-03:00"},"role":{"id":7,"name":"Administrador","base_role":"Administrator"}}}'
  recorded_at: Tue, 12 Sep 2017 14:24:35 GMT
recorded_with: VCR 3.0.3
