---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchants/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic WklFYW54d0RaV0FJaXZxS2U3eUR1cU1pS2l0clVQenZORXVpVllmQktOUTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e60e2cbc8f3b34e3e0f61598d2535192"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505152370'
    body:
      encoding: UTF-8
      string: '{"merchant":{"id":1,"name":"Vindi","company_name":"Empresa Teste Ltda","registry_code":"65590080000128","email":"wagner.narde@vindi.com.br","status":"active"}}'
  recorded_at: Mon, 11 Sep 2017 17:51:50 GMT
recorded_with: VCR 3.0.3
