---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchants/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"f97ee2836ccf0617f4a8388656e8fac8"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1556228460'
    body:
      encoding: UTF-8
      string: '{"merchant":{"id":17,"name":"SANDBOX - TESTES","company_name":"TESTES","registry_code":"1234567890","email":"testes@mail.com","status":"active"}}'
  recorded_at: Thu, 25 Apr 2019 21:40:27 GMT
recorded_with: VCR 3.0.3
