---
http_interactions:
- request:
    method: get
    uri: https://staging-app.vindi.com.br/api/v1/merchants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic WklFYW54d0RaV0FJaXZxS2U3eUR1cU1pS2l0clVQenZORXVpVllmQktOUTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"ddd72976f4f8dbe610d25fc47a471dac"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1505152370'
      Total:
      - '11'
    body:
      encoding: UTF-8
      string: '{"merchants":[{"id":1,"name":"Vindi","company_name":"Empresa Teste
        Ltda","registry_code":"65590080000128","email":"wagner.narde@vindi.com.br","status":"active"},{"id":6,"name":"Empresa
        Teste","company_name":"Empresa Teste Ltda","registry_code":"65590080000128","email":"wagner.narde@vindi.com.br","status":"active"},{"id":7,"name":"Acme
        Inc","company_name":"Acme","registry_code":"68106623000187","email":"lariteste@vindi.com.br","status":"active"},{"id":8,"name":"Lyon
        Oliveira","company_name":"Industrias Acme SA","registry_code":"72819912000109","email":"lyon@vindi.com.br","status":"tri[...]
