---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchants/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1556229329'
    body:
      encoding: UTF-8
      string: '{"merchant":{"id":17,"name":"SANDBOX - TESTES","company_name":"TESTES","registry_code":"1234567890","email":"testes@mail.com","status":"active"}}'
  recorded_at: Thu, 25 Apr 2019 21:54:30 GMT
recorded_with: VCR 3.0.3
