---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/merchants/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic WklFYW54d0RaV0FJaXZxS2U3eUR1cU1pS2l0clVQenZORXVpVllmQktOUTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"973a4869d94e8552fd534c701cd56620"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1505152370'
    body:
      encoding: UTF-8
      string: '{"merchant":{"id":7,"name":"Acme Inc","company_name":"Acme","registry_code":"68106623000187","email":"lariteste@vindi.com.br","status":"active"}}'
  recorded_at: Mon, 11 Sep 2017 17:51:51 GMT
recorded_with: VCR 3.0.3
