---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"78d0118f14150d1ead814339bf7a2df5"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1505220915'
      Total:
      - '5'
    body:
      encoding: UTF-8
      string: '{"roles":[{"id":7,"name":"Administrador","base_role":"Administrator"},{"id":8,"name":"Gestor","base_role":"Manager"},{"id":9,"name":"Atendimento","base_role":"CustomerService"},{"id":10,"name":"Observador","base_role":"ReadOnly"},{"id":11,"name":"Perfil
        em branco","base_role":"Blank"}]}'
  recorded_at: Tue, 12 Sep 2017 12:54:15 GMT
recorded_with: VCR 3.0.3
