---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/bills/664689/approve
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"45e6b439ac4fffa3528e1d39fdf0910b"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556226949'
    body:
      encoding: UTF-8
      string: '{"bill":{"id":664689,"code":null,"amount":"1.0","installments":1,"status":"pending","seen_at":null,"billing_at":null,"due_at":"2019-04-28T23:59:59.000-03:00","url":"https://sandbox-app.vindi.com.br/customer/bills/664689?token=7f857e35-0ce2-435a-bc92-2c3c18df69c0","created_at":"2019-04-25T18:14:20.000-03:00","updated_at":"2019-04-25T18:14:49.000-03:00","bill_items":[{"id":907560,"amount":"1.0","quantity":null,"pricing_range_id":null,"description":"","pricing_schema":null,"product":{"id":11576,"name":"Frete","code":"frete"},"product_item":null,"discount":null}],"charges":[],"customer":{"id":117101,"name":"Cliente
        Teste","email":"","code":null},"period":null,"subscription":null,"metadata":{},"payment_profile":null,"payment_condition":null}}'
  recorded_at: Thu, 25 Apr 2019 21:14:49 GMT
recorded_with: VCR 3.0.3
