---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/bills/481/invoice
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"33759ee5ac9aa7614dc9e1c2f9ada20c"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504643923'
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":101,"amount":"250.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"scheduled_at":null,"created_at":"2017-09-05T17:37:43.422-03:00","updated_at":"2017-09-05T17:37:43.422-03:00","bill":{"id":481,"code":null},"customer":{"id":396,"name":"Jane
        Doe","email":"","code":null}}]}'
  recorded_at: Tue, 05 Sep 2017 20:37:43 GMT
recorded_with: VCR 3.0.3
