---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/bills/664689/invoice
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e62c3b80cc3b81f42bc5b8ec3900bea7"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1556227102'
    body:
      encoding: UTF-8
      string: '{"invoices":[{"id":2316,"amount":"1.0","status":"processing","integration_invoice_id":null,"integration_reference":null,"print_url":null,"description":null,"settings":null,"issued_at":null,"accrued_on":"2019-04-25","scheduled_at":null,"created_at":"2019-04-25T18:17:22.253-03:00","updated_at":"2019-04-25T18:17:22.253-03:00","bill":{"id":664689,"code":null},"customer":{"id":117101,"name":"Cliente
        Teste","email":"","code":null}}]}'
  recorded_at: Thu, 25 Apr 2019 21:17:22 GMT
recorded_with: VCR 3.0.3
