---
http_interactions:
- request:
    method: get
    uri: https://staging-app.vindi.com.br/api/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"aadc57dd4c354a5491668e3a1aa71bd2"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1504276370'
      Total:
      - '2'
    body:
      encoding: UTF-8
      string: '{"plans":[{"id":15,"name":"Hooroo","interval":"months","interval_count":1,"billing_trigger_type":"beginning_of_period","billing_trigger_day":0,"billing_cycles":null,"code":null,"description":"","status":"active","installments":1,"invoice_split":false,"interval_name":"Mensal","created_at":"2017-08-24T11:49:33.000-03:00","updated_at":"2017-08-25T13:39:28.000-03:00","plan_items":[{"id":9,"product":{"id":26,"name":"Teste","code":null,"unit":"","status":"active","description":"","invoice":"always","created_at":"2017-07-19T21:09:39.000-03:00","updated_at":"2017-07-19T21:09:39.000-03:00","pricing_schema":{"id":93,"short_format":"R$
        12,00","price":"12.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-07-19T21:09:39.000-03:00"},"metadata":{}},"cycles":3,"created_at":"2017-08-24T11:49:33.000-03:00","updated_at":"2017-08-24T11:49:33.000-03:00"}],"metadata":{}},{"id":17,"name":"My
        new plan","interval":"months","interval_count":1,"billing_trigger_type":"beginning_of_period","billing_trigger_day":1,"billing_cycles":null,"code":null,"description":null,"status":"active","installments":1,"invoice_split":false,"interval_name":"Mensal","created_at":"2017-08-28T13:53:02.000-03:00","updated_at":"2017-08-28T13:53:02.000-03:00","plan_items":[],"metadata":{}}]}'
  recorded_at: Fri, 01 Sep 2017 14:31:50 GMT
recorded_with: VCR 3.0.3
