---
http_interactions:
- request:
    method: post
    uri: https://staging-app.vindi.com.br/api/v1/discounts
    body:
      encoding: UTF-8
      string: amount=1&cycles=1&discount_type=percentage&percentage=10&product_item_id=118&quantity=1
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"2724ef2adb5e681a1186ace5216944f8"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '118'
      Rate-Limit-Reset:
      - '1504551760'
    body:
      encoding: UTF-8
      string: '{"discount":{"id":15,"discount_type":"percentage","percentage":"10.0","amount":"1.0","quantity":1,"cycles":1,"status":"active","created_at":"2017-09-04T16:01:41.914-03:00","updated_at":"2017-09-04T16:01:41.914-03:00","product_item":{"id":118,"product":{"id":26,"name":"t-shirt","code":null}}}}'
  recorded_at: Mon, 04 Sep 2017 19:01:41 GMT
recorded_with: VCR 3.0.3
