---
http_interactions:
- request:
    method: delete
    uri: https://staging-app.vindi.com.br/api/v1/discounts/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eER3M2VsUHdkZGx6cWdGekpxWlhraXktalpselZ2WTdMMWFWZGNEYk1IZzo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"231f6563a06ab98e5c468e200f516b11"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1504551761'
    body:
      encoding: UTF-8
      string: '{"discount":{"id":14,"discount_type":"percentage","percentage":"10.0","amount":"1.0","quantity":1,"cycles":1,"status":"inactive","created_at":"2017-09-04T15:56:09.000-03:00","updated_at":"2017-09-04T16:01:42.581-03:00","product_item":{"id":118,"product":{"id":26,"name":"t-shirt","code":null}}}}'
  recorded_at: Mon, 04 Sep 2017 19:01:42 GMT
recorded_with: VCR 3.0.3
