---
http_interactions:
- request:
    method: post
    uri: https://sandbox-app.vindi.com.br/api/v1/charges/631342/refund
    body:
      encoding: UTF-8
      string: amount=10
    headers:
      Authorization:
      - Basic VDlxRUFKN3ZJVTlVbmowdm1pWkZEVmp5d3QyVm4tTWhZSGNqcmp3QjZuMDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"5e8f6e65cf2ea5da1170a960b3a2945a"
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '117'
      Rate-Limit-Reset:
      - '1556227243'
    body:
      encoding: UTF-8
      string: '{"charge":{"id":631342,"amount":"128.0","status":"paid","due_at":"2019-04-26T23:59:59.000-03:00","paid_at":"2019-04-22T00:00:00.000-03:00","installments":1,"attempt_count":1,"next_attempt":null,"print_url":null,"created_at":"2019-04-22T14:35:47.000-03:00","updated_at":"2019-04-22T14:40:02.000-03:00","last_transaction":{"id":783317,"transaction_type":"refund","status":"success","amount":"10.0","installments":null,"gateway_message":null,"gateway_response_code":null,"gateway_authorization":"","gateway_transaction_id":null,"gateway_response_fields":null,"fraud_detector_score":null,"fraud_detector_status":null,"fraud_detector_id":null,"created_at":"2019-04-25T18:20:39.000-03:00","gateway":null,"payment_profile":null},"payment_method":{"id":35,"public_name":"Dinheiro","name":"Dinheiro","code":"cash","type":"PaymentMethod::Cash"},"bill":{"id":658642,"code":null},"customer":{"id":49252,"name":"Teste
        Produtos","email":"produtos_teste@mail.com","code":"mag-3-1533145785"}}}'
  recorded_at: Thu, 25 Apr 2019 21:20:39 GMT
recorded_with: VCR 3.0.3
